.reviews{
    display: flex;
    margin: 0 10vw;
}
.reviews div{
    margin-left: 1vh;
    display: flex;
}
.reviews div img{
    width: 10vh;
    height: 10vh;
    margin-right: 1vh;

}

.reviews div div{
    display: flex;
    flex-direction: column;
}
.reviews div div p{
    word-wrap: break-word;
    hyphens: auto;
    margin-right: 5vh;
}
.reviews div div div{
    text-align: end;
    margin-right: 8vh;
    font-family: Myriad Pro Bold;
}

@media only screen and (max-width: 750px){
    .reviews{
        flex-direction: column;
    }
    .reviews div:first-child{
        margin-bottom: 1vh;
    }
}