@model RealityProject.DataAccess.DataModels.Adds.Advertisement

<div class="col-4 d-none">
    <form >
        <div style="font-weight: 500; font-size: 26px">Upload Image</div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
            <input name="file" class="form-control" type="file" id="file">
        </div>
        <button type="submit">Send</button>
    </form>
</div>

<form method="post" EncType="multipart/form-data" asp-area="Admin" asp-controller="Advertisement" asp-action="AddImage">
    <div class="mb-2" style="font-weight: 500; font-size: 26px">Upload Image</div>
    <input hidden asp-for="Id"/>
    <input name="file" class="form-control mb-2" type="file" id="file">
    <button class="btn btn-primary" type="submit">Send</button>
</form>