@model HomePage

@{
    ViewData["Title"] = "Hlavni stránka";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/MainPage/acticleStyle.css" />
    <link rel="stylesheet" href="~/css/MainPage/reviewsStyle.css" />
    <link rel="stylesheet" href="~/css/MainPage/selectionStyle.css" />
    <link rel="stylesheet" href="~/css/MainPage/slideStyle.css" />
}


<main>
    <div class="slide">
        <img src="~/References/podklady/slide-01-1920x640.jpg" alt="">
        <form method="post" action="/search">
            <label>Vyberte si svůj nový byt</label>
            <div>
                <!-- sem by šel select2 -->
                <input name="searchText" required placeholder="Vyberte si podle mesta..." type="text">
                <button type="submit">Hledat</button>
            </div>
        </form>
    </div>
    <div class="selection">
        <a href="#Flats" onclick="ChangeSelection(0)">
            <div>Byty</div>
            <div>@Model.CountFlats nabídek</div>
        </a>
        <a href="#Luxury" onclick="ChangeSelection(1)">
            <div>Luxusni</div>
            <div>@Model.CountLuxury nabídek</div>
        </a>
        <a href="#Houses" onclick="ChangeSelection(2)">
            <div>Domy</div>
            <div>@Model.CountHouses nabídek</div>
        </a>
        <a href="#Cottages" onclick="ChangeSelection(3)">
            <div>Chaty</div>
            <div>@Model.CountCottages nabídek</div>
        </a>
    </div>
    <h3>Naše nabídka</h3>
    <hr>
    
    <div id="BestOne">
        <div class="articles">
            @foreach (var item in Model.BestOnes)
            {
                @await Component.InvokeAsync("ItemAdvertisement", new{ item= item})
            }
        </div>
    </div>

    <div id="Flats">
        <div class="articles">
            @foreach (var item in Model.Flats)
            {
                @await Component.InvokeAsync("ItemAdvertisement", new { item = item })
            }
        </div>
    </div>

    <div id="Houses">
        <div class="articles">
            @foreach (var item in Model.Houses)
            {
                @await Component.InvokeAsync("ItemAdvertisement", new { item = item })
            }
        </div>
    </div>

    <div id="Cottages">
        <div class="articles">
            @foreach (var item in Model.Cottage)
            {
                @await Component.InvokeAsync("ItemAdvertisement", new { item = item })
            }
        </div>
    </div>
    <div id="Luxury">
        <div class="articles">
            @foreach (var item in Model.Luxury)
            {
                @await Component.InvokeAsync("ItemAdvertisement", new { item = item })
            }
        </div>
    </div>
    
    <a id="seeMore" href="Details/Detail1.html">Zobrazit vše</a>

    <h3>Zkušenosti zákazníků</h3>
    <hr>
    <div class="reviews">
        <div>
            <img src="~/References/podklady/user-lisa-evans-80x80.jpg" class="img-fluid" alt="">
            <div>
                <p>
                    Thank you for your prompt response and the help that you gave me.
                    You always have a quick solution to any problem.
                    What an excellent level of customer service!
                </p>
                <div>
                    Lisa Evans
                </div>
            </div>
        </div>
        <div>
            <img src="~/References/podklady/user-nicholas-lane-80x80.jpg" class="img-fluid" alt="">
            <div>
                <p>
                    Thank you for your prompt response and the help that you gave me.
                    You always have a quick solution to any problem.
                    What an excellent level of customer service!
                </p>
                <div>
                    Lisa Evans
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts
{
    <script src="~/js/HomePage/SelectHomeType.js"></script>
}
