
@{
    ViewBag.Title = "title";
    //Layout = "_Layout_Admin";
}

<div style="height: 100vh" class="d-flex justify-content-center align-items-center">
    <h2 class="display-1">Již brzy..</h2>
</div>
